# Jekyll site
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata/

# Ruby
.bundle/
vendor/

# Node.js artifacts
node_modules/
dist/
npm-debug.log*
yarn-error.log*

# Env files & secrets
.env
.env.*
secret.*
*.key
*.pem
*.pfx
*.jks

# IDEs & OS-specific
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs & coverage
logs/
*.log
coverage/

# ignore all local SSH keys
*.pub
id_*
yes
